.container{
    max-width: 728px;
    margin: 0 auto;
}

.postPreview{
    margin: 0 auto;
    padding: 6rem 0;

    h1{
        font-size: 3.375rem;
        font-weight: 900;
        line-height: 3.75rem;
    }

    time{
        display: block;
        color: var(--grey-300);
        line-height: 1.625rem;
        margin: 2rem 0;
    }

    p + p{
        margin-top: 2rem;
    }

    p{
        font-size: 1.125rem;
        line-height: 1.875rem;
    }

}