.subscribeNow{
    width: 100%;
    margin-top: 2rem;
    border: none;
    outline: none;
    height: 80px;
    border-radius: 100px;
    
    color: var(--white);

    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;

    background-color: #1F2729;
    strong{
        color: var(--yellow-500);
        font-weight: 700;
    }

    transition: filter .3s ease;
}

.subscribeNow:hover{
    filter: brightness(.85);
}